# CHAPTER No. 03 Syed Muhammad Ghazi (19B-087-SE)

In [3]:
#1
far = eval(input('enter the temperature in fahrenhiet:'))
cel = (far-32)*(5/9)
print('the temperature in celcius is {:.2f}'.format(cel))

enter the temperature in fahrenhiet:0
the temperature in celcius is -17.78

In [7]:
#2(a)
age = eval(input('enter your age:'))
if age >62:
    print('You can get your pension benefits')
else:
    print('You can not get your pension benefits')

enter your age:65
You can get your pension benefits

In [15]:
#2(b)
name = input('enter your name:')
lst =  ['Musial','Aaron','Williams','Gehrig','Ruth']
if name in lst:
    print('One of the top 5 baseball players, ever!')

enter your name:Aaron
One of the top 5 baseball players, ever!

In [16]:
#2(c)
hits = eval(input('enter the hits:'))
shield = eval(input('enter the shield:'))
if hits > 10 and shield == 0:
    print('You\'re dead ...')

enter the hits:10
enter the shield:0

In [18]:
#2(d)
x = 'north'
if x == 'north' or south or east or west:
    print('I can escape.')

I can escape.

In [20]:
#3(a)
year = eval(input('enter tha year:'))
if year%4==0:
    print('it could be a leap year')
else:
    print('definately not a leap year')

enter tha year:2008
it could be a leap year

In [23]:
#3(b)
ticket = eval(input('enter your ticket:'))
lottery = 1234
if ticket == lottery:
    print('You won!')
else:
    print('Better luck next time...')

enter your ticket:1234
You won!

In [25]:
#4
user = input('enter your username:')
lst = ['joe', 'sue','hani', 'sophie']
if user in lst:
    print('you are in!')
    print('done')
else:
    print('user unknown')
    print('done')

enter your username:joe
you are in!
done

In [36]:
#5
wordList = (input('Enter word list: '))
for word in wordList:
           print(word)

Enter word list: tuba
t
u
b
a

In [52]:
#6(a)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
#6(b)
for i in range(0,2):
    print(i)

0
1

In [58]:
#7(a)
for i in range(3, 13):
    print(i)

3
4
5
6
7
8
9
10
11
12

In [60]:
#7(b)
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [61]:
#7(c)
for i in range(0, 24, 3):
    print(i)

0
3
6
9
12
15
18
21

In [62]:
#7(d)
for i in range(3,12,5):
    print(i)

3
8

In [11]:
#8
import math
def perimeter(radius):
    return 2 * math.pi * radius
perimeter(42)

263.89378290154264

In [10]:
#3.9
def avg(x,y):
    return (x+y)/2
avg(3,4)

3.5

In [9]:
#3.10
def novowel(s):
    for i in s:
        if i in 'aeiouAEIOU':
            return False
        else:
            return True 
novowel('ghazi')

True

In [85]:
#11
def even(numList):
     for num in numList:
        if num%2 == 0:
            return True
        else:
            return False
even([1,2,3,4,5])

False

In [90]:
#12
def negatives(lst):
    for i in lst:
        if i < 0:
            print(i)

negatives([2,3,4,-5,-6])

-5
-6

In [92]:
#13
def avg(x,y):
    return (x+y)/2
avg(2,4)


def negatives(lst):
    for i in lst:
        if i < 0:
            print(i)

negatives([2,3,4,-5,-6])
help(avg)
help(negatives)

-5
-6
Help on function avg in module __main__:

avg(x, y)
    #3.13

Help on function negatives in module __main__:

negatives(lst)

In [94]:
#3.14
a = [5, 6, 7]
b = a
a = 3
print('the fist a will make a list')
print('the b will have the elements of a')
print('now we assignt a to 3')

the fist a will make a list
the b will have the elements of a
now we assignt a to 3

In [96]:
#3.15
team = ['Ava', 'Eleanor', 'Clare', 'Sarah']
print(team)
team.reverse()
print(team)

['Ava', 'Eleanor', 'Clare', 'Sarah']
['Sarah', 'Clare', 'Eleanor', 'Ava']

In [109]:
#3.16
def swapFL(lst):
    lst[0], lst[-1] = lst[-1], lst[0]
swapFL(['flour', 'sugar', 'butter', 'apples'])

# EXERCISES

In [17]:
#3.17
#a
eval(str('2*3+1'))

7

In [5]:
#b
eval(input())

'hello'

'hello'

In [2]:
#c
eval("'hello' + ' ' + 'world!'")

'hello world!'

In [3]:
#d
eval("'ASCII'.count('I')")

2

In [7]:
#e
x = eval('5')

In [8]:
#18
a,b,c = 3,4,5
#18a
if a < b :
    print("OK")
#18b c is less than b
if c < b : 
    print("OK")
#18c the sum of a and b is equal to c
if a+b == c :
    print("OK")
#18d the sum of the square a and b is equal to c squared
if a**2+b**2 == c**2 :
    print("OK")

OK
OK

In [9]:
#19
a,b,c = 3,4,5
#18a
if a < b :
    print("OK")
else:
    print('false')
#18b c is less than b
if c < b : 
    print("OK")
else:
    print('false')
#18c the sum of a and b is equal to c
if a+b == c :
    print("OK")
else:
    print('false')
#18d the sum of the square a and b is equal to c squared
if a**2+b**2 == c**2 :
    print("OK")
else:
    print('false')

OK
false
false
OK

In [10]:
#20
lst = ['January', 'February', 'March']
for i in lst:
    print(i[:3])

Jan
Feb
Mar

In [18]:
#21
lst = [2, 3, 4, 5, 6, 7, 8, 9]
for i in lst:
    if i%2==0:
        print(i ,end='  ')

2  4  6  8

In [19]:
#22
lst = [2, 3, 4, 5, 6, 7, 8, 9]
for i in lst:
    if (i**2)%8==0:
        print(i ,end='  ')

4  8

In [1]:
#21a
for i in range(2):
    print(i,end=" ")
print('\n')  
#21b
for i in range(1):
    print(i,end=" ")
#21c
for i in range(3,7):
    print(i,end=" ")
print('\n')
#21d
for i in range(1,2):
    print(i,end=" ")
print('\n')
#21e
for i in range(0,4,3):
    print(i,end=" ")
print('\n')
#21f
for i in range(5,22,4):
    print(i,end=" ")

0 1

0 3 4 5 6

1

0 3

5 9 13 17 21

In [2]:
#24
list = eval(input("Enter list of words: " ))
for i in list:
    if i != "secret":
        print(i)

Enter list of words:  ['Ellie', 'Steve', 'Sam', 'Owen', 'Gavin']
Ellie
Steve
Sam
Owen
Gavin

In [3]:
#26
list = eval(input("Enter a list: " ))
print("The first list element is",list[0])
print("The last list element is",list[-1])

Enter a list: [2,0,5,4,7]
The first list element is 2
The last list element is 7

In [7]:
#25
list = eval(input("Enter list: " ))
for word in list:
    if word[0] >= "A" and word[0] <= "M":
        print(word)

Enter list: ['Ellie', 'Steve', 'Sam', 'Owen', 'Gavin']
Ellie
Gavin

In [8]:
#27
n = eval(input("Enter n: " ))
for i in range(4):
    print(n*i)

Enter n: 5
0
5
10
15

In [12]:
#28
n = eval(input("Enter n: " ))
for i in range(n):
    print(i*i)

Enter n: 3
0
1
4

In [14]:
#29
n = eval(input("Enter n: " ))
for i in range(1,n+1):
    if (n%i==0):
        print(i)

Enter n: 25
1
5
25

In [15]:
#30
a = eval(input('enter first number:'))
b = eval(input('enter second number:'))
c = eval(input('enter third number:'))
d = eval(input('enter last number:'))
x = (a+b+c)/3
if x == d:
    print('equal')
else:
    pass

enter first number:4.5
enter second number:3
enter third number:3
enter last number:3.5
equal

In [19]:
#3.31
x = eval(input('enter x:'))
y = eval(input('enter y:'))
r = 8**2
if (x**2)+(y**2)<r:
    print('it is in!')
else:
    pass

enter x:2
enter y:2
it is in!

In [1]:
#32
n = eval(input("Enter n: "))
x = 10
while(n/(10*x)!=0):
    x=x*10
while(n>0):
    print(int(n/x))
    n = n%x
    x=x/10

Enter n: 1234
0

OverflowError: integer division result too large for a float

In [ ]:
#33
def rev(s):
    return s[::-1]
rev('daniyal')

In [ ]:
#34
def pay(wage,hours):
    payment = 0
    if (hours>40):
        payment = payment+(hours-40)*wage*1.5
        payment=payment+40*wage
    else:
        payment =payment+hours*wage
    return payment
pay(100,41)

In [34]:
#3.35
def prob(n):
    return 2**(-n)
prob(1)

0.5

In [36]:
#3.36
def reverse_int(n):
    x=0
    while(n!=0):
        x*=10
        x+=n%10
        n=n//10
    return x
reverse_int(1234)

4321

In [45]:
#3.37
import math
def points(x1,y1,x2,y2):
    distance = str(math.sqrt((x1-x2)**2+(y1-y2)**2))
    if(x1==x2):
        print('slope is infinity')
    else:
            slope = str((y2-y1)/(x2-x1))
            print("The slope is "+slope+" and the distance is "+distance)

points(6,4,6,5)
points(3,3,4,6)

slope is infinity
The slope is 3.0 and the distance is 3.1622776601683795

In [47]:
#3.38
def abbreviation(n):
    return n[:2]
abbreviation('tuesday')

'tu'

In [50]:
#3.39
def collision(x1,y1,r1,x2,y2,r2):
    if(math.sqrt((x1-x2)**2+(y1-y2)**2) > r1+r2):
        return False
    else:
        return True
collision(0,0,3,0,5,3)

True

In [52]:
#3.40
def partition(list):
    for name in list:
        if name[0] >= "A" and name[0] <= "M":
            print(name)
partition(['Eleanor', 'Evelyn', 'Sammy', 'Owen', 'Gavin'])

Eleanor
Evelyn
Gavin

In [6]:
#3.41
def lastF(x,y):
    return y+','+x[0]+'.'
lastF('syed', 'ghazi')

'ghazi,s.'

In [61]:
#3.42
def avg(lists):
    for list in lists:
        print(sum(list)/len(list))
avg([[95, 92, 86, 87], [66, 54], [89, 72, 100], [33, 0, 0]])

90.0
60.0
87.0
11.0

In [62]:
#3.43
import math
def hit(x1,y1,r,x2,y2):
    if(math.sqrt((x1-x2)**2+(y1-y2)**2) > r):
        return True
    else:
        return False
hit(1,4,3,4,6)

True

In [7]:
#3.44
def distance(t):
    return t*340.29/1000
distance(33)

11.22957